# Add your API tokens here
RACK_ENV=development
ALLOW_REQUESTS_FROM=localhost:4000
SECRET_KEY_BASE=development
FRONTEND_URL=localhost:4000
MAILER_SENDER_ADDRESS=keks@noreply.com
HOST=localhost:5000
# ROLLBAR_ACCESS_TOKEN=
FRONTEND_URL=http://localhost:8000
GOOGLE_ID=
GOOGLE_SECRET=
